.HeroCardContainer {
  position: relative;
  animation: appearCardAnimation 0.4s forwards;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  //ao trabalhar com flex box utilizando 'nowrap' pode ocorrer um problema causado por uma regra do flex box que n permite um tamanho menor que o conteúdo para prevenir isso podemos usar min-width 0
  min-width: 0;

  img {
    position: relative;

    height: 100%;
    width: 100%;

    bottom: 0;
    transition: bottom 0.4s;
    &:hover {
      bottom: 0.5rem;
    }
  }
  .text {
    position: relative;

    width: 100%;
    background: var(--red);

    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 80%;
      overflow: hidden;
    }
    .details {
      background: var(--red);
      border-radius: 100%;
      padding: 0.25rem;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
@keyframes appearCardAnimation {
  0% {
    opacity: 0;
    top: 2rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
