.CardLinksContainer {
  display: flex;
  flex-direction: column;

  position: absolute;

  background: var(--dark);
  padding: 1rem;

  right: 0.5rem;
  bottom: 3rem;

  clip-path: polygon(10% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%, 0 30%);

  a {
    cursor: pointer;
    transition: color 0.2s;
    & + a {
      margin-top: 0.2rem;
    }
    &:hover {
      color: var(--red);
    }
  }
}
